<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Тестовая страница</title>
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
</head>
<body>
<div ng-click="sitePart = 'language.jsp'" class="textSite" style="position:absolute;left:9%;top:4%;width:9%;">
    <strong>Рус</strong></div>
<div ng-click="sitePart = 'contacts.jsp'" class="textSite" style="position:absolute;left:19%;top:4%;width:9%;">
    <strong>Контакты</strong></div>
<div ng-click="sitePart = 'main.jsp'" class="textSite" style="position:absolute;left:29%;top:4%;width:9%;">
    <strong>Главная</strong></div>
<div ng-click="sitePart = 'input.jsp'" class="textSite" style="position:absolute;left:39%;top:4%;width:9%;">
    <strong>Вход</strong></div>


<div ng-show = "sitePart == 'contacts.jsp'" class="contentPage">
    <p>Тел: 063-948-2705</p>
    <p>e-mail: mihail.kolomiets@gmail.com.</p>
    <p>Михаил Коломиец</p>
</div>
<div ng-show = "sitePart == 'input.jsp'" class="contentPage">
    <p>Тел: 092-345-67-89</p>
    <p>г. Харьков, ул.Сайтодельная д.33 .</p>
    <p>Angular Коломиец</p>
</div>
<div ng-show = "if(sitePart == 'main.j')" class="contentPage">
    <p>Тел: 012-345-67-89</p>
    <p>г. Харьков, ул.Сайтодельная д.33 .</p>
    <p>Angular show</p>
</div>
{{sitePart}}


</body>
</html>
